---
import Layout from "../../layouts/default.astro";
import { Image } from "astro:assets";
import IndoorImage from "../../images/house/IMG-20230724-WA0012.jpg";
import FamilyIndoorImage from "../../images/house/IMG-20230724-WA0009.jpg";
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("en");
---

<Layout title={t("home.title")}>
    <div class="shadow-even h-auto rounded-2xl mt-10 flex justify-center flex-col items-center text-secondary">
        <h1 class="text-3xl font-bold m-10">{t("header.housing")}</h1>
        <p>
            V PENZIONU Kamélie
            je možné ubytovat 8 osob, k dispozici je kuchyňka s vybavením, lednička, mikrovlnka, varná konvice, dvouvařič,  velká koupelna se sprchovým koutem, WC, automatická pračka.

            Ve velké společenské místnosti  PENZIONU Kamélie se můžete v klidu společně občerstvit nebo pobavit, třeba i při  svíčkách. Samozřejmostí je připojení k INTERNETU přes Wi-Fi.

            Na zahradě můžete relaxovat, pro ty nejmenší i větší je k dispozici malé dětské hřiště. Na zahradě je i možnost stanování.

            Při pěkném počasí můžete zchladit tělo v bazénu a večer si na terase prožít příjemné posezení s grilováním u jezírka.

            V PENZIONU Kamélie je též možnost úschovy kol i lyží a parkování aut je v zahradě zdarma.
        </p>
    </div>
</Layout>