---
import Layout from "../layouts/default.astro";
import { Image } from "astro:assets";
import IndoorImage from "../images/house/IMG-20230724-WA0012.jpg";
import FamilyIndoorImage from "../images/house/IMG-20230724-WA0009.jpg";
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("cs");
---

<Layout title={t("header.housing")}>
    <div class="shadow-even h-auto rounded-2xl mt-10 flex justify-center flex-col items-center text-secondary">
        <h1 class="text-3xl font-bold mt-10 mb-5">{t("header.housing")}</h1>
        <ul class="p-10 flex flex-col items-start gap-10 list-disc max-w-3xl">
            <Trans i18nKey="housing.text">
                <strong>PENZION Kamélie</strong>
            </Trans>

            <li class="underline text-accent cursor-pointer" id="showRules">{t("housing.rulesTitle")}</li>
        </ul>

        <dialog class="bg-white p-20 shadow-even rounded-2xl" id="rulesDialog">
            <Trans i18nKey="housing.rules">
                <strong class="list-decimal list-inside my-2">PENZION Kamélie</strong>
            </Trans>
            <form method="dialog">
                <button class="py-2 px-5 mt-5 bg-accent text-white rounded-2xl">{t("housing.closeRules")}</button>
            </form>
        </dialog>
    </div>
</Layout>

<script>
    const openDialog = document.getElementById("showRules");
    const dialog = document.getElementById("rulesDialog");

    function openCheck(dialog) {
        return !dialog.open;
    }

    openDialog.addEventListener("click", () => {
        // @ts-ignore
        if (openCheck(dialog)) dialog.showModal();
    });
</script>