---
import Layout from "../layouts/default.astro";
import ImageSlider from "../components/ImageSlider";
import { Image } from "astro:assets";
import IndoorImage from "../images/house/IMG-20230724-WA0007.jpg";
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("cs");
---

<Layout title={t("home.title")}>
    <div class="mt-10">
        <ImageSlider client:load />
    </div>

    <div class="shadow-even h-auto rounded-2xl mt-10 flex justify-center flex-col items-center text-secondary">
        <h1 class="text-3xl font-bold m-10">{t("home.text1")}</h1>
        <div class="flex flex-row items-center gap-10">

           <Image class="rounded-2xl select-none" src={IndoorImage} alt="Obrázek vnitřka penzionu, na obrázku postel, skříň a další vybavení" height="450" width="600"/>

           <div class="flex flex-col gap-10 text-lg">
               <p class="max-w-xl text-justify">
                   <Trans i18nKey="home.text2">
                       <strong>PENZION Kamélie</strong>
                   </Trans>

               </p>
               <p class="max-w-xl text-justify">
                   <Trans i18nKey="home.text3">
                       <strong>PENZION Kamélie</strong>
                   </Trans>
               </p>
           </div>

        </div>
        <h2 class="text-2xl font-bold m-10">{t("home.text4")}</h2>
    </div>
</Layout>