---
import {Image} from "astro:assets";
---

<div class="shadow-even h-auto rounded-2xl my-10 flex justify-center flex-col items-center text-secondary">
    "footer a zbytek dodelat zitra 27.12.2023"
</div>