---
import {Image} from "astro:assets";
let thisYear = new Date().getFullYear().toString();
if (thisYear > "2023"){
    thisYear = `2023 - ${thisYear}`
}

import { LanguageSelector } from "astro-i18next/components";
import { t } from "i18next";
---

<footer class="shadow-even h-auto rounded-2xl my-10 flex justify-center flex-col items-center text-secondary bg-accent p-10">
    <div class="flex justify-between w-full">
        <h3 class="text-3xl font-bold self-start">PENZION Kamélie</h3>
        <LanguageSelector showFlag={false} class="bg-transparent focus:ring-0 ring-0 text-xl font-bold" />
    </div>
    <div class="grid max-xl:gap-y-5 md:grid-cols-1 xl:grid-cols-5 mt-5 font-bold text-md">
        <div>
            Alena HÁLOVÁ<br/>
            Mlýnská 43<br/>
            407 21 Česká Kamenice<br/>
            {t("footer.cz")}<br/>
        </div>
        <div class="max-md:hidden"></div>
        <div class="flex xl:justify-center">
           <div>
               {t("footer.ico")}: 15665658<br/>
               E-mail: <a class="hover:underline" href="mailto:halova.alena@seznam.cz">halova.alena@seznam.cz</a><br/>
               {t("footer.phone")}: <a class="hover:underline" href="tel:+420777940905">+420 777 940 905</a><br/>
           </div>
        </div>
        <div class="max-md:hidden"></div>
        <div>
            <p class="max-xl:max-w-[50%]">
                <a class="hover:underline" href="http://www.luzicke-hory.cz/mista/index.php?pg=zmjehlc" target="_blank">
                    {t("footer.text")}
                </a>
            </p>
        </div>
    </div>
    <p class="mt-10"><small>&copy; Copyright {thisYear}, <a href="https://ortieez.com" target="_blank">Adam Lipert</a></small></p>
</footer>