---
import { Image } from 'astro:assets';
import kamelieLogo from '../images/kamelie-logo.png'
import i18next, { t } from "i18next";
import { localizePath } from "astro-i18next";

let link = "https://www.booking.com/hotel/cz/kama-c-lie.cs.html"
if (i18next.language != "cs") {
    link = "https://www.booking.com/hotel/cz/kama-c-lie.en.html"
}
---

<header id="stickyHeader" class="sticky top-0 z-10 bg-white shadow-even h-auto rounded-2xl flex justify-between font-bold">
    <a href={localizePath("/Penzion-Kamelie/")}>
        <Image src={kamelieLogo} alt="Kamélie logo" height="100" width="250" class="p-5 select-none" />
    </a>
    <nav class="max-lg:hidden flex items-center mr-5">
        <ul class="flex gap-10 text-lg text-primary ">
            <li class="hover:text-secondary transition-colors duration-200">
                <a href={localizePath("/")}>{t("header.main")}</a>
            </li>
            <li class="hover:text-secondary transition-colors duration-200">
                <a href={localizePath("/pricelist")}>{t("header.pricelist")}</a>
            </li>
            <li class="hover:text-secondary transition-colors duration-200">
                <a href={localizePath("/accomodation")}>{t("header.housing")}</a>
            </li>
            <li id="openDropDown">
                <a class="hover:text-secondary transition-colors duration-200 cursor-pointer group select-none">{t("header.other")}&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#000" width="16" height="16" class="inline-block relative top-0 right-0 transform rotate-90 fill-primary group-hover:fill-secondary transition-colors duration-200" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
                    </svg>
                </a>
                <div id="dropdown" class="hidden absolute bg-white shadow-even rounded-xl w-52 mt-2 p-2 text-primary">
                     <ul class="flex gap-5 text-lg text-primary flex-col p-2">
                          <li class="hover:text-secondary transition-colors duration-200">
                                <a href={localizePath("/trips")}>{t("header.hikes")}</a>
                          </li>
                         <li class="hover:text-secondary transition-colors duration-200">
                             <a href={localizePath("/photo")}>{t("header.photogallery")}</a>
                         </li>
                     </ul>
                </div>
            </li>
            <li class="text-white hover:drop-shadow-xl transition-all duration-200">
                <a class="bg-accent py-3 px-4 rounded-xl" href={link} target="_blank">
                    Booking.com
                </a>
            </li>
        </ul>
    </nav>

    <div class="lg:hidden flex items-center justify-end mr-10 cursor-pointer" id="hamburgerMenu">
        <svg
            id="hamburgerMenuIcon"
            class="w-12 h-12"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
            />
        </svg>

        <svg id="closeMenu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 hidden">
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
            />
        </svg>
    </div>

    <nav class="hidden lg:hidden items-center mr-5 top-[110px] w-full absolute" id="mobileMenu">
        <ul class="flex gap-8 text-lg text-primary flex-col z-20 bg-white w-full p-10 rounded-b-2xl">
            <li class="select-none hover:text-secondary transition-colors duration-200">
                <a href={localizePath("/")}>{t("header.main")}</a>
            </li>
            <li class="select-none hover:text-secondary transition-colors duration-200">
                <a href={localizePath("/pricelist")}>{t("header.pricelist")}</a>
            </li>
            <li class="select-none hover:text-secondary transition-colors duration-200">
                <a href={localizePath("/accomodation")}>{t("header.housing")}</a>
            </li>
            <li class="select-none hover:text-secondary transition-colors duration-200">
                <a href={localizePath("/trips")}>{t("header.hikes")}</a>
            </li>
            <li class="select-none hover:text-secondary transition-colors duration-200">
                <a href={localizePath("/photo")}>{t("header.photogallery")}</a>
            </li>
            <li class="text-white hover:drop-shadow-xl transition-all duration-200">
                <a class="bg-accent py-3 px-4 rounded-xl" href={link} target="_blank">
                    Booking.com
                </a>
            </li>
        </ul>
    </nav>
</header>

<script>
    function handleStickyHeader() {
        let header = document.getElementById("stickyHeader");
        let lastScroll = 0;

        window.addEventListener("scroll", function() {
            let currentScroll = window.scrollY;

            if (currentScroll > lastScroll) {
                header.classList.remove("rounded-2xl");
                header.classList.add("rounded-b-2xl")
            } else if(currentScroll <= 12) {
                header.classList.add("rounded-2xl");
            }

            lastScroll = currentScroll;
        });
    }

    function handleHamburgerMenu() {
        let hamburger = document.getElementById("hamburgerMenu");
        let closeMenuIcon = document.getElementById("closeMenu");
        let hamburgerMenuIcon = document.getElementById("hamburgerMenuIcon");
        let mobileMenu = document.getElementById("mobileMenu");
        hamburger.addEventListener("click", function() {
            mobileMenu.classList.toggle("hidden");
            mobileMenu.classList.toggle("flex");

            hamburgerMenuIcon.classList.toggle("hidden");
            closeMenuIcon.classList.toggle("hidden");
        });
    }

    function handleOpenDropDown() {
        let openDropDown = document.getElementById("openDropDown");
        let dropDown = document.getElementById("dropdown");

        openDropDown.addEventListener("click", function() {
            dropDown.classList.toggle("hidden");
            dropDown.classList.toggle("flex");
        });

    }

    document.addEventListener("DOMContentLoaded", function() {
        handleStickyHeader();
        handleHamburgerMenu();
        handleOpenDropDown();
    });
</script>