---
import { Image } from 'astro:assets';
import kamelieLogo from '../images/kamelie-logo.png'
---

<header class="shadow-even h-auto rounded-2xl flex justify-between font-bold">
    <a href="/Penzion-Kamelie/">
        <Image src={kamelieLogo} alt="Text Kamélie" height="100" width="250" class="p-5" />
    </a>
    <nav class="flex items-center mr-5">
        <ul class="flex gap-10 text-lg text-primary ">
            <li class="hover:text-secondary transition-colors duration-200">
                <a href="/Penzion-Kamelie/">Úvodní Stránka</a>
            </li>
            <li class="hover:text-secondary transition-colors duration-200">
                <a href="#">Ceník</a>
            </li>
            <li class="hover:text-secondary transition-colors duration-200">
                <a href="#">Ubytování</a>
            </li>
            <li class="hover:text-secondary transition-colors duration-200">
                <a class="cursor-pointer">Ostatní</a>
            </li>
            <li class="text-white hover:drop-shadow-xl transition-all duration-200">
                <!-- https://www.booking.com/hotel/cz/kama-c-lie.en.html for english -->
                <a class="bg-accent py-3 px-4 rounded-xl" href="https://www.booking.com/hotel/cz/kama-c-lie.cs.html" target="_blank">
                    Booking.com
                </a>
            </li>
        </ul>
    </nav>
</header>